       body {
		  font-family:Sans-serif;
	   }
	   
	   a:link {
	      color:#6EAC3F;
	   } 
	   
	   a:visited {
	      color:#A9CB92;
	   } 
	   
	   #content-container {
	      clear:both;
	      margin-top:30px;
		  margin-bottom:30px;
	      float: left;
	      width: 100%;
	   }
	   
	   #navigation {
          clear:both;
		  float:left;
		  display:inline;
		  width:200px;
		  border-right:1px solid gray;
		  margin-right:-1px;
		  padding-right:10px;
	   }
	   
	   #navigation ul {
	      margin-top:0px;
		  padding-left:10px;
	      list-style-type: none;
	   }
	   
	   #navigation ul .nav-name{
		  padding-left:10px;
		  display:block;
	   }
   
	   #content  {
		  padding-top:30px;
		  padding-left:20px;
		  border-left:1px solid gray;
		  margin-left:210px;
		  margin-right:10px;
	   }
	   
	   #content table {
	      padding-left:auto;
		  padding-left:auto;
		  width:100%;
	   }
	   
	   #content table tbody tr {
		  vertical-align:middle;
		  text-align:left;
	   }
	   
	   #content table tbody tr td {
		  vertical-align:top;
		  text-align:left;
	   }
	   
	   #content table tbody tr img {
	      margin-right:5px;
		  border:0;
		  width:24px;
		  height:24px;
	   }
	   
	   #ftr {
	       margin-left:auto;
           margin-right:auto;
           width:80%;
		   text-align:center;
	   }
	   
	   #hdr {
	      display:inline;
	   }
	   
	   #eglogo{
	      position:relative;
		  float:left;
		  width:30%;
	   }
	   
	   #eglogo img {
	      height:80px;
	   }
	   
	   #airlinelogo   {
	      position:relative;
		  float:right;
		  width:30%;
	   }
	   
	   #airlinelogo img {
	      height:50px;
	   }
	   
	   #hdr-title {
	       width:40%;
	   	   margin-left:auto;
           margin-right:auto;
           width:auto;
	       position:relative;
		   float:none;
		   height:50px;
       }

	   #hdr-title h2 {
	       text-align:center;
		   font-size:xx-large;
		   font-weight:bold;
       }
	   
	   #ftr {
		  width:100%;
		  margin-left:auto;
          margin-right:auto;
	   }
	   
	   #copy {
	      font-size:small;
	   }